{% extends 'base.html' %}

{% block title %}Поменять пароль{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/form.css' %}{% endblock %}
{% block main_title %}Поменять пароль {{ user.username }}{% endblock %}

{% block main_content %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_old_password" class="form__label">Действующий пароль</label>
                <div class="form__field-group">
                    <input type="password" name="old_password" id="id_old_password" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_new_password1" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    <input type="password" name="new_password1" id="id_new_password1" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_new_password2" class="form__label">Новый пароль повторно</label>
                <div class="form__field-group">
                    <input type="password" name="new_password2" id="id_new_password2" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Поменять пароль</button>
            </div>
        </form>
    </div>
{% endblock %}
