{% extends 'base.html' %}

{% block title %}Сбросить пароль{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/form.css' %}{% endblock %}
{% block main_title %}Сбросить парооль{% endblock %}

{% block main_content %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_email" class="form__label">Ваш адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" class="form__input">
                    {% if form.errors %}
                    <span class="form__error">{{ form.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Сбросить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}
