{% extends 'base.html' %}

{% block title %}Технологии{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/index.css' %}{% endblock %}
{% block main_title %}Технологии{% endblock %}

{% block main_content %}
  <ul>
    {% for title, version, href in tech %}
      <li>
        <a href="{{ href }}" target="_blank" class="nav__link link">{{ title }}</a>
        {% if version %}<span style="color: lightgrey"> версия {{ version }}</span>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
