{% extends 'base.html' %}

{% block title %}Избранное{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/index.css' %}{% endblock %}
{% block main_title %}Избранное{% endblock %}
{% block main_header %}{% include 'includes/tags.html' %}{% endblock %}

{% block main_content %}
  <div class="card-list">
    {% for favorite in page_obj %}
      {% include 'includes/recipe_card.html' with recipe=favorite.recipe %}
    {% empty %}
      <p style="font-family: 'Montserrat', sans-serif;">Данный список пуст.</p>
    {% endfor %}
  </div>
  {% include 'includes/paginator.html' %}
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/favorite.js' %}"></script>
{% endblock %}
