{% if user.is_authenticated %}
  {% load users_filters %}
  <button class="button {% if request|request_user_purchases:recipe %}button_style_light-blue-outline{% else %}button_style_blue{% endif %}" name="purchases" {% if not request|request_user_purchases:recipe %}data-out{% endif %}>
    {% if request|request_user_purchases:recipe %}<span class="icon-check button__icon"></span> Рецепт добавлен{% else %}<span class="icon-plus button__icon"></span> Добавить в покупки{% endif %}
  </button>
{% endif %}
