{% extends 'base.html' %}

{% block title %}{{ author.get_full_name }} | Рецепты{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/index.css' %}{% endblock %}
{% block main_title %}{{ author.get_full_name }}{% endblock %}
{% block main_header %}{% include 'includes/tags.html' %}{% endblock %}

{% block main_content %}
  {% include 'includes/recipe_card_list.html' %}
  {% include 'includes/paginator.html' %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  {% if user.is_authenticated %}
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
  {% else %}
    <script src="{% static 'js/indexNotAuth.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}
