{% extends 'base.html' %}

{% block title %}Мои подписки{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/myFollow.css' %}{% endblock %}
{% block main_title %}Рецепты{% endblock %}

{% block main_content %}
  {% include 'includes/author_card_list.html' %}
  {% include 'includes/paginator.html' %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/components/MyFollow.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>
  <script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}
