{% extends 'base.html' %}

{% block title %}{% if request.resolver_match.url_name == 'recipe_create' %}Создание рецепта{% else %}Редактирование рецепта{% endif %}{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/form.css' %}{% endblock %}
{% block main_title %}{% if request.resolver_match.url_name == 'recipe_create' %}Создание рецепта{% else %}Редактирование рецепта{% endif %}{% endblock %}

{% block main_content %}
  {% load recipes_custom_filters %}
  <div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="form__group">
        <label for="id_name" class="form__label">Название рецепта</label>
        <div class="form__field-group">
          {{ form.title }}
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <p class="form__label">{{ form.tags.label }}</p>
        <div class="form__field-group">
          <div class="tags">
            {% for tag, title in form.tags.field.choices %}
              <div class="tags__item">
                <input type="checkbox" name="tags" id="id_{{ tag.instance.slug }}" class="tags__checkbox tags__checkbox_style_{{ request|tags_and_colors|dict_lookup:tag.instance }}" value="{{ tag.instance.slug }}" {% if tag in form.tags.value %}checked="checked"{% endif %}>
                <label for="id_{{ tag.instance.slug }}" class="tags__label">{{ tag.instance.title }}</label>
              </div>
            {% endfor %}
          </div>
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <label for="nameIngredient" class="form__label">Ингредиенты</label>
        <div class="form__field-group">
          <div class="form__field-group-ingredientes">
            <div class="form__dropdown">
              <input type="text" id="nameIngredient" class="form__input" name="ingredients_search">
              <div class="form__dropdown-items"></div>
            </div>
            <input type="number" id="cantidad" class="form__input" min="1">
            <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
          </div>
          <div class="form__field-group-ingredientes-container">
            {% for item in recipe.ingredientinrecipe_set.all %}
              <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                <span> {{ item.ingredient.title }} {{ item.quantity }}{{ item.ingredient.dimension_unit }}</span>
                <span class="form__field-item-delete"></span>
                <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ item.ingredient.title }}">
                <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ item.quantity }}">
                <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ item.ingredient.dimension_unit }}">
              </div>
            {% endfor %}
          </div>
          <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <label for="id_cooking_time_minutes" class="form__label">Время приготовления</label>
        <div class="form__field-group form__field-group_time">
          {{ form.cooking_time_minutes }}
          <label for="id_cooking_time_minutes" class="form__label">минут</label>
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <label for="id_description" class="form__label">Описание</label>
        <div class="form__field-group">
          {{ form.description }}
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_image" class="form__file-button">Выбрать файл</label>
                    {{ form.image }}
                    <span class="form__error">{{ form.errors }}</span>
                </div>
            </div>
      </div>
      <div class="form__footer">
        {% if request.resolver_match.url_name == 'recipe_create' %}
          <button class="button button_style_blue">Создать рецепт</button>
        {% elif request.resolver_match.url_name == 'recipe_update' or request.resolver_match.url_name == 'recipe_delete' %}
          <button class="button button_style_blue">Сохранить</button><a style="margin-left: 2.5em" href="{% url 'recipes:recipe_delete' recipe.id %}" class="form__ingredient-link">Удалить</a>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}
