{% extends 'base.html' %}

{% block title %}
  {% if request.resolver_match.url_name == 'author_recipe_list' %}{{ author.get_full_name }} | {% endif %}Рецепты
{% endblock %}
{% block stylesheet %}{% load static %}{% static 'pages/index.css' %}{% endblock %}
{% block main_title %}
  {% if request.resolver_match.url_name == 'author_recipe_list' %}{{ author.get_full_name }}{% else %}Рецепты{% endif %}
{% endblock %}
{% block main_header %}{% include 'includes/tags.html' %}{% endblock %}

{% block main_content %}
  {% if request.resolver_match.url_name == 'author_recipe_list' %}
    <div class="author-subscribe" data-author="{{ author.id }}">
      <p style="padding: 0 0 2em 0;">{% include 'includes/subscription_button.html' %}</p>
    </div>
  {% endif %}
  {% include 'includes/recipe_card_list.html' %}
  {% include 'includes/paginator.html' %}
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  {% if request.resolver_match.url_name == 'author_recipe_list' %}
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/authorRecipe.js' %}"></script>
  {% else %}
    {% if user.is_authenticated %}
      <script src="{% static 'js/indexAuth.js' %}"></script>
    {% else %}
      <script src="{% static 'js/indexNotAuth.js' %}"></script>
    {% endif %}
  {% endif %}
{% endblock %}
