{% load recipes_filters %}
{% for q in paginator.page_range|slice:slice_range %}
  {% if q == page_obj.number %}
    <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">{{ q }}</a></li>
  {% else %}
    <li class="pagination__item">
      <a class="pagination__link link"
         href="?{% if request.GET.tags %}{% for slug in request|parse_url_tags_query %}tags={{ slug }}&{% endfor %}{% endif %}page={{ q }}">{{ q }}
      </a>
    </li>
  {% endif %}
{% endfor %}
